:root {
  --primary: #121512;
  --secondary: #141914;
  /*--primary: #FFFFFF;
  --secondary: #DDDDDD;*/
  --coin: #ddc84d;
  --rank: #EF4649;
  --button: #999999;
  --hoverbutton: #EF4649;
  --lowchallenge: #3FB554;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
